Repository Fannon/u-he-preset-randomizer: changes, and which lefthook commands are due for each by the changed paths.
All: biome, sync-mcp-version

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome:
      glob: "**/*.{ts,js,json,md}"
      run: npx biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true

    sync-mcp-version:
      glob: "package.json"
      run: npm run sync:mcp-version && git add package.json server.json

feat: Ensure output directories exist before writing presets and conditionally add Google Drive detection path.
  src/generatePresets.ts
  src/presetLibrary.ts
  src/utils/detector.ts
Due: biome

Introducing configs per synth and defining stable parameters for Zebralette3 (#38)
  package.json
  src/__tests__/analyzer.unit.test.ts
  src/__tests__/synthConfigs.unit.test.ts
  src/analyzer.ts
  src/cli.ts
  src/generatePresets.ts
  src/presetLibrary.ts
  src/synthConfigs/Repro1.ts
  src/synthConfigs/Repro5.ts
  src/synthConfigs/Zebralette3.ts
  src/synthConfigs/index.ts
  src/synthConfigs/types.ts
  src/utils/detector.ts
Due: biome, sync-mcp-version

Adding Zebra 3 config + skill. But it's not working very well at all
  src/skills/Zebra3.md
  src/synthConfigs/Zebra3.ts
  src/synthConfigs/index.ts
Due: biome

Add Smithery badge
  README.md
Due: none

Fixing CLI hopefully + minor fixes / additions
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/compact-params-model.mjs
  server.json
  src/__tests__/config.unit.test.ts
  src/__tests__/detector.unit.test.ts
  src/__tests__/entrypoint.unit.test.ts
  src/__tests__/presetLibrary.unit.test.ts
  src/cli.ts
  src/config.ts
  src/presetLibrary.ts
  src/skills/Zebra3.md
  src/utils/detector.ts
  src/utils/entrypoint.ts
Due: biome, sync-mcp-version

Update bun.lock
  bun.lock
Due: none

Fixing format + linting issues
  biome.jsonc
  scripts/compact-params-model.mjs
Due: none

Fixing CLI hopefully + minor fixes / additions (#41)
  .gitignore
  CHANGELOG.md
  biome.jsonc
  bun.lock
  package-lock.json
  package.json
  scripts/compact-params-model.mjs
  server.json
  src/__tests__/config.unit.test.ts
  src/__tests__/detector.unit.test.ts
  src/__tests__/entrypoint.unit.test.ts
  src/__tests__/presetLibrary.unit.test.ts
  src/cli.ts
  src/config.ts
  src/presetLibrary.ts
  src/skills/Zebra3.md
  src/utils/detector.ts
  src/utils/entrypoint.ts
Due: biome, sync-mcp-version

Using NPM trusted publishing
  .github/workflows/id-token.yml
  .github/workflows/publish.yml
Due: none

NPM Trusted Publishing (#42)
  .github/workflows/id-token.yml
  .github/workflows/publish.yml
Due: none

Fix publish.yml
  .github/workflows/publish.yml
Due: none

Fix publish.yml (#43)
  .github/workflows/publish.yml
Due: none

chore: bump biome $schema to match pinned CLI 2.4.11
  biome.jsonc
Due: none

chore: auto-remediate formatting and linting errors
  package-lock.json
Due: none

chore: bump biome $schema to match pinned CLI 2.4.11 (#44)
  biome.jsonc
  package-lock.json
Due: none
