Repository Fannon/u-he-preset-randomizer: changes, and which lefthook commands are due for each by the changed paths.
All: biome, sync-mcp-version

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome:
      glob: "**/*.{ts,js,json,md}"
      run: npx biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true

    sync-mcp-version:
      glob: "package.json"
      run: npm run sync:mcp-version && git add package.json server.json

try lefthook
  src/presetLibrary.ts
Due: biome

Bump to v1.1.2
  package-lock.json
  package.json
  server.json
Due: sync-mcp-version

Cleanup Code around user third party (#31)
  lefthook.yml
  package-lock.json
  package.json
  server.json
  src/parser.ts
  src/presetLibrary.ts
Due: biome, sync-mcp-version

Add documentation skill and command
  .claude/commands/documentation.md
  .claude/skills/documentation-review/SKILL.md
Due: biome

Add documentation skill and command (#32)
  .claude/commands/documentation.md
  .claude/skills/documentation-review/SKILL.md
Due: biome

docs: comprehensive documentation and code quality review
  AGENTS.md
  CHANGELOG.md
  DOCUMENTATION_REVIEW_REPORT.md
  documentation-review-report.json
  src/analyzer.ts
  src/cli.ts
  src/config.ts
  src/detect-synths.ts
  src/generatePresets.ts
  src/index.ts
  src/libraryFilters.ts
  src/mcp-server.ts
  src/parser.ts
  src/presetLibrary.ts
  src/randomizer.ts
  src/utils/detector.ts
  src/utils/presetValidator.ts
Due: biome

chore: update package-lock.json after dependency installation
  package-lock.json
Due: none

chore: remove documentation review reports from PR
  DOCUMENTATION_REVIEW_REPORT.md
  documentation-review-report.json
Due: none

docs: update documentation review skill and command
  .claude/commands/documentation.md
  .claude/skills/documentation-review/SKILL.md
Due: biome

Documentation and code quality review for preset randomizer (#33)
  .claude/commands/documentation.md
  .claude/skills/documentation-review/SKILL.md
  AGENTS.md
  CHANGELOG.md
  package-lock.json
  src/analyzer.ts
  src/cli.ts
  src/config.ts
  src/detect-synths.ts
  src/generatePresets.ts
  src/index.ts
  src/libraryFilters.ts
  src/mcp-server.ts
  src/parser.ts
  src/presetLibrary.ts
  src/randomizer.ts
  src/utils/detector.ts
  src/utils/presetValidator.ts
Due: biome

Update dependencies and fix inquirer select library acting up
  package-lock.json
  package.json
  src/cli.ts
Due: biome, sync-mcp-version

Add Zebralette3 skill
  scripts/compact-params-model.mjs
  src/skills/Zebralette3.md
Due: biome

Fix type issues
  src/mcp-server.ts
  tsconfig.json
Due: biome

Update dependencies & check for most recent Zebralette3 compatibility (#34)
  package-lock.json
  package.json
  scripts/compact-params-model.mjs
  src/cli.ts
  src/mcp-server.ts
  src/skills/Zebralette3.md
  tsconfig.json
Due: biome, sync-mcp-version

Adding more unit-tests
  src/__tests__/helpers.test.ts
  src/__tests__/presetValidator.test.ts
Due: biome

Low-risk bugfixes
  src/__tests__/helpers.test.ts
  src/analyzer.ts
  src/parser.ts
Due: biome

Adding more unit-tests
  src/__tests__/robustness.test.ts
  src/parser.ts
  src/randomizer.ts
Due: biome

Add more unit tests (#35)
  src/__tests__/helpers.test.ts
  src/__tests__/presetValidator.test.ts
  src/__tests__/robustness.test.ts
  src/analyzer.ts
  src/parser.ts
  src/randomizer.ts
Due: biome

Try out using Bun for development (faster tests, simpler setup)
  .claude/config.json
  .swcrc
  AGENTS.md
  README.md
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/analyzer.unit.test.ts
  src/__tests__/config.unit.test.ts
  src/__tests__/detector.unit.test.ts
  src/__tests__/e2e/cli.e2e.test.ts
  src/__tests__/generatePresets.unit.test.ts
  src/__tests__/helpers.unit.test.ts
  src/__tests__/libraryFilters.unit.test.ts
  src/__tests__/parser.unit.test.ts
  src/__tests__/presetLibrary.unit.test.ts
  src/__tests__/presetValidator.unit.test.ts
  src/__tests__/randomizer.unit.test.ts
  src/__tests__/robustness.unit.test.ts
  tsconfig.test.json
Due: biome, sync-mcp-version

Add CI jobs to check for node and bun
  .github/workflows/CI.yaml
Due: none

Use bun install
  .github/workflows/CI.yaml
Due: none

Add bun install caching
  .github/workflows/CI.yaml
Due: none

Adjust e2e timeout
  src/__tests__/e2e/cli.e2e.test.ts
Due: biome

No caching
  .github/workflows/CI.yaml
Due: none

Fix linting issues
  .github/workflows/CI.yaml
  biome.jsonc
  src/cli.ts
Due: biome

Do not generate binary by default for Zebralette3 and Zebra3, as some patches crash the plugin
  src/__tests__/randomizer.unit.test.ts
  src/cli.ts
  src/randomizer.ts
Due: biome

Smaller improvements in logging
  src/analyzer.ts
  src/cli.ts
Due: biome

log improvements
  src/cli.ts
  src/presetLibrary.ts
Due: biome

PoC: Use bun for development (#36)
  .claude/config.json
  .github/workflows/CI.yaml
  .swcrc
  AGENTS.md
  README.md
  biome.jsonc
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/analyzer.unit.test.ts
  src/__tests__/config.unit.test.ts
  src/__tests__/detector.unit.test.ts
  src/__tests__/e2e/cli.e2e.test.ts
  src/__tests__/generatePresets.unit.test.ts
  src/__tests__/helpers.unit.test.ts
  src/__tests__/libraryFilters.unit.test.ts
  src/__tests__/parser.unit.test.ts
  src/__tests__/presetLibrary.unit.test.ts
  src/__tests__/presetValidator.unit.test.ts
  src/__tests__/randomizer.unit.test.ts
  src/__tests__/robustness.unit.test.ts
  src/analyzer.ts
  src/cli.ts
  src/presetLibrary.ts
  src/randomizer.ts
  tsconfig.test.json
Due: biome, sync-mcp-version

Adding --binary-template functionality
  README.md
  src/__tests__/binaryTemplates.unit.test.ts
  src/cli.ts
  src/config.ts
  src/randomizer.ts
  src/templates/Zebralette3/01-PWM Symm.h2p
  src/templates/Zebralette3/02-Detuned Saws.h2p
  src/templates/Zebralette3/02-PWM Morph.h2p
  src/templates/Zebralette3/03-INIT.h2p
  src/templates/Zebralette3/10-Analog Waves.h2p
  src/templates/Zebralette3/15-Basic Shapes.h2p
  src/utils/binaryTemplates.ts
Due: biome

Cleaning up dependencies that can be simplified out
  .github/workflows/CI.yaml
  bun.lock
  package.json
  src/cli.ts
Due: biome, sync-mcp-version

More cleanup
  bun.lock
  package.json
Due: sync-mcp-version

More cleanup dependencies
  bun.lock
  package-lock.json
  package.json
  src/cli.ts
Due: biome, sync-mcp-version

Bun run verify
  .github/workflows/CI.yaml
Due: none

Fix linting issues
  src/cli.ts
Due: biome

Adding --binary-template functionality (#37)
  .github/workflows/CI.yaml
  README.md
  bun.lock
  package-lock.json
  package.json
  src/__tests__/binaryTemplates.unit.test.ts
  src/cli.ts
  src/config.ts
  src/randomizer.ts
  src/templates/Zebralette3/01-PWM Symm.h2p
  src/templates/Zebralette3/02-Detuned Saws.h2p
  src/templates/Zebralette3/02-PWM Morph.h2p
  src/templates/Zebralette3/03-INIT.h2p
  src/templates/Zebralette3/10-Analog Waves.h2p
  src/templates/Zebralette3/15-Basic Shapes.h2p
  src/utils/binaryTemplates.ts
Due: biome, sync-mcp-version

Introducing configs per synth and defining stable parameters for Zebralette3 and Diva
  src/__tests__/analyzer.unit.test.ts
  src/__tests__/synthConfigs.unit.test.ts
  src/analyzer.ts
  src/cli.ts
  src/synthConfigs/Diva.ts
  src/synthConfigs/Repro1.ts
  src/synthConfigs/Repro5.ts
  src/synthConfigs/Zebralette3.ts
  src/synthConfigs/index.ts
  src/synthConfigs/types.ts
Due: biome

Remove empty Diva config
  src/synthConfigs/Diva.ts
  src/synthConfigs/index.ts
Due: biome

Fixing type issues
  src/__tests__/synthConfigs.unit.test.ts
  src/presetLibrary.ts
Due: biome

Use bin to run most package.json tasks
  package.json
Due: sync-mcp-version
